* {
  background-color: #282c34;
  color: rgb(180, 207, 230);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.game {
  margin: 40px 0;
}

.game-info {
  margin-top: 40px;
}

/* .board-row {
  display: block;
  position: absolute;
} */

.square {
  width: 50px;
  height: 50px;
  font-size: 16px;
  border: 2px solid black;
}

ol {
  margin-top: 40px;
  list-style-type: none;
}

li {
  margin: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
